#pageSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: dotted;
  border-width: 4px;
  border-color: rgba(252, 214, 131, 0.823);
  padding: 25px;
  margin: 20px 10px;
  overflow: auto;
  max-height: calc(100vh - 300px); 
}

.image-resize {
  width: 800px;
  height: 400px;
}

.carousel {
  position: relative;
  z-index:-99;
  
}
#pageSec p {
  margin: 0;
  padding: 10px;
  max-height: calc(100vh - 300px); 
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .carousel-container {
    padding-top: 110px;
    overflow: visible;
    z-index:-999;
  }
  
  #pageSec {
    overflow: visible;
    overflow: scroll;
   
  }

  .image-resize {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}

.logo{
  height:50px;
  width:75px;

  margin-right: 10px;
}
.longLogo{
  height:50px;
  width:100px;
  margin-right: 10px;
}
#logos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
 
  width:100%;
}
.logo:hover,
  .longLogo:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media (max-width: 600px) {
    .logo,
    .longLogo {
      height: 40px;
      width: 60px;
      margin-right: 8px;
    }
  }















  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div.scroll {
  background-color: rgba(0, 53, 78, 0.4);
  color: white;
  width:600px; height:150px;margin: 0 auto; display:block; margin-top:50px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
