body {
  overflow-x: hidden;
}
p{
  color:white;
  text-align: center;
}


.content-container{
  z-index: -999;
  margin-top: 70px;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
}

.pageSec {

  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: dotted;
  border-width: 4px;
  border-color: rgba(252, 214, 131, 0.823);
  margin: 20px 10px;
  flex: 1 1 0;
    min-width: 0;
  
}
.pageSec p{
  padding: 30px;
  font-size: 22px;
}
.Card.Title{
  font-size:22px;
  font-family: Retro;
}
.image-resize {
  width: 100%;
  max-height: auto;
  max-width: 800px;
  flex: 1 1 0;
    min-width: 0;
  z-index:-999;
}
.Carousel{
  flex: 1 1 0;
    min-width: 0;
    z-index: -999 !important;
}

.logos {
 text-align: center;
  padding-top: 3px;
  flex: 1 1 0;
    min-width: 0;
}

.logo,
.longLogo {
  height: 50px;
  margin-right: 10px;

}

.logo:hover,
.longLogo:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {
  .carousel-container {
    padding-top: 50px;
    margin-top: 3750px;
  }

  #pageSec {
    padding: 15px;
    margin: 10px;
  }

  .logo,
  .longLogo {
    height: 40px;
    width: 60px;
    margin-right: 8px;
  }
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin: auto;
  width: 100%;
  max-width: 1200px; /* Adjust the max-width as needed */
  z-index:-999;
}
.card img{
  max-height: 400px;
  max-width: 600;
  z-index:-99;
}
.card-container .card {
  background-color: rgba(0, 0, 0, 0.3);
  color: white; /* Set text color to white for better visibility */
  border-style: dotted;
  border-width: 4px;
  border-color: rgba(252, 214, 131, 0.823);
}

@media (max-width: 800px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .card img{
    max-height: 200px;
    max-width: 300;
    z-index:-99;
  }
  .pageSec p{
    padding: 0px;
  }

  
}
h1{
  text-align: center;
  color:white !important;
  padding: 25px;
  margin: 20px 10px;
  font-style: bold;
  text-transform: uppercase;
  flex: 1 1 0;
    min-width: 0;
}